header.header
  .header__container
    a(href=routes.home) HOME
  .header__container
    ul
      li
        a(href=routes.join) JOIN
      li
        a(href=routes.photos) PHOTOS
      li
        a(href=routes.profile) PROFILE